body {
    background-image: url(a5bg.png);
}

h1 {
    font: helvetica;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 25px;
    background-color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  border: 1px solid black;
  width: 150px;
  padding: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: red;
  display: inline-block;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: darkblue;
}

nav li a:hover {
    background-color: blue;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

main {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.threep {
    text-align: justify;
}

.threep a {
color: blue;
font-weight: bold;
text-decoration: none;
}

.threep a:hover {
color: red;
text-decoration: underline;
}

footer {
    color: white;
    background-color: darkblue;
    border: 5px solid white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding: 20px;
}