body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  height: 1200px;
  border: 5px solid black;
  padding: 24px;
  background-color: #cc0000;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 178px 200px auto;
}

#wrapperaudio {
  margin: 24px auto;
  width: 1200px;
  border: 5px solid black;
  padding: 24px;
  background-color: #cc0000;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 178px 100px auto;
}

#wrappervisual {
  margin: 24px auto;
  width: 1200px;
  border: 5px solid black;
  padding: 24px;
  background-color: #cc0000;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 178px 150px auto;
}

header {
  grid-column: span 10;
  width:960px;
  background-color: maroon;
  border: 5px solid black;
  color: white;
  margin-left: 0;
  display: flex;
  text-transform: capitalize;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

header h1 {
  font-size: 75px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  letter-spacing: 8px;
  align-self: center;
  margin-left: 36px;
  text-transform:uppercase;
  text-shadow: 3px 3px 5px  #000;
}

header img {
  display: block;
  align-self: start;
  text-align: right;
  margin-left: auto;
  background-color: white;
  height: 168px;
  
}

#sideheader {
  grid-column: span 2;
  grid-row: span 3;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  font-size: 150px;
  text-align: center;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  letter-spacing: 30px;
  text-decoration: underline;
}

#ktsideheader {
  grid-column: span 2;
  grid-row: span 3;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  font-size: 150px;
  text-align: center;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  letter-spacing: 15px;
  text-decoration: underline;
}

nav {
  grid-column: span 10;
  margin-top: 0px;
  padding-top: 0px;
}

#audionav {
  padding-bottom: 0;
}

nav ul {
list-style: none;
padding: 0;
margin-top: 0;
}

nav li {
background-color: white;
border: 3px solid black;
border-top: 0;
display: inline-block;
width: 215px;
margin-right: 24px;
margin-top: 0;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
height: 80px;
transition: all 500ms;
}

#greybg {
background-color: lightgray;
}

nav li #contact {
  margin-right: 0;
}

nav li a {
text-transform:uppercase;
text-decoration: none;
font-size: 40px;
color: black;
text-align: center;
display: block;
padding-top: 15px;
transition: all 500ms;
height: 80px;
}

nav a:hover {
color: maroon;
}
nav li:hover {
  border-radius: 0;
}

#homemain {
  grid-column: span 10;
  background-color: white;
  border: 5px solid black;
  margin: 25px;
  margin-top: 40px;
  height: 625px;
  border-top-left-radius:40px;
  border-bottom-right-radius:40px;
}

#contactmain {
  grid-column: span 10;
}

#contactmain h2 {
  color: white;
  background-color: darkred;
  text-decoration: underline;
  font-size: 85px;
  border: 2px solid black;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  width: 800px;
  margin-top: 0;
}

#contactmain h3 {
color: white;
font-weight: normal;
font-style: italic;
font-size: 60px;
letter-spacing: 2px;
}

#contactmain h4 {
font-weight: normal;
font-style: italic;
font-size: 60px;
text-align: right;
margin-right: 32px;
}

#contactmain a {
color: black;
}

#audiomain {
  grid-column: span 10;
  padding-top: 0;
  margin-top: 0;
}

#audiomain h2 {
  color: white;
  margin-top: 0;
  font-weight: normal;
  font-style: italic;
  grid-column: span 10;
  font-size: 60px;
}

#h2visual {
  grid-column: span 10;
  color: white;
  font-weight: normal;
  font-size: 60px;
  font-style: italic;
  text-decoration: underline;
  margin-top: 0;
  text-align: center;
} 

#picturesv {
grid-column: span 10;
}

#visualmain img {
  width: 800px;
  height: auto;
}

#picturev2 {
text-align: center;
}

#picturev3 {
text-align: right;
}

#audio2 h2 {
  text-align: right;
}

#audiomain img {
  float: left;
}

#audiomain audio {
  
  clear: both;display: block;
  margin-top: 80px;
  padding-bottom: 35px;
}

#audiomain p {
  color: white;
  font-size: 35px;
  display: inline-block;
  margin-left: 32px;
  text-decoration: underline;
}

#homemain img {
  float: left;
  margin: 25px;
  margin-top: 150px;
  border-radius: 15px;
  box-shadow: 5px 5px 25px #999;
}

#homemain h2 {
  background-color: maroon;
  color: white;
  text-transform:uppercase;
  font-style: italic;
  text-decoration: underline;
  margin-left: 325px;
  margin-right: 25px;
  font-size: 75px;
  margin-top: 40px;
  border: 3px solid black;
  margin-right: 30px;
  box-shadow: 5px 5px 25px #999;
  text-align: center;
}

#homemain p {
  font-size: 40px;
  margin-right: 30px;
  margin-left: 25px;
  font-family: "DM Serif Text", serif;
  font-style: italic;
  font-weight: 3;
  text-align: right;
   text-justify: newspaper;
}

#iconmail {
  text-align: left;
  font-size: 32px;
}