body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  height: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 178px 200px auto;
}

header {
  grid-column: span 10;
  background-color: darkred;
  border: 5px solid black;
  color: white;
  margin-left: 0;
  display: flex;
  text-transform: capitalize;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

header h1 {
  font-size: 75px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  letter-spacing: 10%;
  align-self: center;
  margin-left: 50px;
  text-transform:uppercase;
}

header img {
  display: block;
  align-self: start;
  text-align: right;
  margin-left: auto;
  background-color: white;
}

#sideheader {
  grid-column: span 2;
  grid-row: span 3;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  font-size: 150px;
  text-align: center;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  letter-spacing: 25%;
  text-decoration: underline;
}

nav {
  grid-column: span 10;
  margin-top: 0px;
  padding-top: 0px;
}

nav ul {
list-style: none;
padding: 0;
margin-top: 0;
}

nav li {
background-color: white;
border: 3px solid black;
border-top: 0;
display: inline-block;
width: 215px;
margin-right: 24px;
margin-top: 0;
}

nav li #contact {
  margin-right: 0;
}

nav li a {
text-transform:uppercase;
text-decoration: none;
font-size: 40px;
color: black;
text-align: center;
display: block;
}

main {
  grid-column: span 10;
  background-color: white;
  border: 5px solid black;
  text-align: center;
  margin: 25px;
  margin-top: 40px;
  height: 70%;
}

main img {
  float: left;
  margin: 25px;
  margin-top: 150px;
}

main h2 {
  background-color: darkred;
  color: white;
  text-transform:uppercase;
  font-style: italic;
  text-decoration: underline;
  margin-left: 325px;
  margin-right: 25px;
  font-size: 75px;
  margin-top: 40px;
  border: 3px solid black;
  margin-right: 30px;
}

main p {
  font-size: 35px;
  margin-right: 30px;
  margin-left: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  word-spacing: 10%;
}